@using MobileInvitation.Models
@using X.PagedList.Mvc.Core; @*페이징툴을 이용...*@
@using X.PagedList.Mvc; @*페이징툴을 이용...*@
@using X.PagedList; @*페이징툴을 이용...*@
@using MobileInvitation.FunctionHelper;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "User_Layout";
}
<link rel="stylesheet" href="/css/customer.css">
<script src="/js/customer/customer.js"></script>
<style type="text/css">
    .trSize {
        height: 58px;
    }

    .tdSize {
        width: 8.5%;
        background: #f8f8f8
    }


    .tdRight {
        text-align: right;
    }

    .tdLeft {
        text-align: left;
    }

    .tdCenter {
        text-align: center;
    }
    #formFileCollection {
        display: none;
    }
</style>
<!-- sub contents -->
<section class="customer">
    <div class="sub_con_wrap">
        <aside class="mypage_list">
            <div class="mypage_box">
                <p><strong>고객센터</strong></p>
                <ul>
                    <li><a href="/Customer/Notice">공지사항</a></li>
                    <li><a href="/Customer/Faq">FAQ</a></li>
                    <li><a href="/Customer/Ask" class="active">1:1 문의</a></li>
                </ul>
            </div>
        </aside>
        <!-- 우측 컨텐츠 영역 -->
        <div class="sub_contents">
            <!-- 고객센터 검색영역 -->
            <div class="cs_center">
                <div class="cs_top">
                    <h2>CS Center</h2>
                    <p>1644-0708 <span>평일 09:00 ~ 18:00 (점심 12:00 ~ 13:00)</span></p>
                </div>

            </div>
            <!-- //고객센터 검색영역 -->
            <!-- 1:1 문의 작성하기 -->
            @using (Html.BeginForm("Ask_Save", "Customer", FormMethod.Post, new { id = "Save", enctype = "multipart/form-data", name = "Save" }))
            {

                @Html.Hidden("COMPANY_SEQ", 8070);
                @Html.Hidden("SALES_GUBUN", "BM");

                @Html.Hidden("Gubun", "");
                @Html.Hidden("QNA_ID", ViewData["Qna_Id"]);

                <div class="table_wrap cs_table_wrap">

                    @{
                        int QNA_ID = ViewBag.Qna_Reg_View.QNA_ID;
                        string NAME = ViewBag.Qna_Reg_View.NAME;
                        string Title = ViewBag.Qna_Reg_View.TITLE;
                        string Content = ViewBag.Qna_Reg_View.CONTENT;                        
                        string ORDER_ID = ViewBag.Qna_Reg_View.ORDER_ID != null ? "M" + ViewBag.Qna_Reg_View.ORDER_ID.ToString() : "";
                        string UPFILE_1 = !string.IsNullOrEmpty(ViewBag.Qna_Reg_View.UPFILE_1) ? ViewBag.Qna_Reg_View.UPFILE_1.Substring(ViewBag.Qna_Reg_View.UPFILE_1.LastIndexOf("/") + 1) : "";
                        string UPFILE_2 = !string.IsNullOrEmpty(ViewBag.Qna_Reg_View.UPFILE_2) ? ViewBag.Qna_Reg_View.UPFILE_2.Substring(ViewBag.Qna_Reg_View.UPFILE_2.LastIndexOf("/") + 1) : "";
                        string Order_Code = ViewBag.Qna_Reg_View.ORDER_CODE;
                        string Q_KIND = ViewBag.Qna_Reg_View.Q_KIND;
                    }                  

                    <table class="table type01 ask_reg">
                        <caption>1:1 문의 작성하기</caption>
                        <colgroup>
                            <col style="width:140px;">
                            <col style="width:730px;">
                        </colgroup>
                        <tr>
                            <th class="impt">문의유형</th>
                            <td>
                                <div class="select_wrap type01 w160 consult_select01">
                                    <select name="q_category1" id="q_category1" class="select consult_select wp100">                                        
                                        <option value="AMC04">모바일초대장</option>
                                    </select>
                                </div>
                                <div class="select_wrap type01 w160 ml10 consult_select02" style="display:inline-block">
                                    <select asp-for="@Q_KIND" asp-items="ViewBag.Qna_Reg_View.Q_KIND_LIST" class="select consult_select wp100"></select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="impt">제목</th>
                            <td>
                                <input type="text" asp-for="@Title" class="inp type02 wp100" />                                
                            </td>
                        </tr>
                        <tr>
                            <th class="impt">주문번호</th>
                            <td>
                                <input type="text" asp-for="@Order_Code" class="inp type02 fl w200" readonly />
                                <input type="hidden" asp-for="@ORDER_ID" />                                
                                <span class="btn_wrap type03 fl">
                                    <a href="#none" onclick="Order_Search_pop(0);" class="btn type03 w74">검색</a>
                                </span>
                                <span class="check_box">
                                    <input type="checkbox" id="Order_Chk">
                                    <label for="Order_Chk">주문번호 없이 문의</label>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th class="vt">파일 첨부</th>
                            <td>
                                <ul class="upfile_box_list">
                                    <li>
                                        <div class="upfile_input_box">
                                            <input type="text" asp-for="@UPFILE_1" class="inp type02 ellipsis UPFILE_1" readonly />
                                            <button type="button" class="upfile_delete" onclick="fileDelete('UPFILE_1')"><i class="ico">파일 삭제</i></button>
                                        </div>
                                        <span class="btn_wrap type03">
                                            <a name="Upload" href="#none" class="btn type03 w74">파일찾기</a>
                                            <input type="file" id="formFileCollection" name="formFileCollection" @*accept="file_extension|audio/*|video/*|image/*|media_type"*@>
                                        </span>
                                    </li>
                                    <li>
                                        <div class="upfile_input_box">
                                            <input type="text" asp-for="@UPFILE_2" class="inp type02 ellipsis UPFILE_2" readonly />                                            
                                            <button type="button" class="upfile_delete" onclick="fileDelete('UPFILE_2')"><i class="ico">파일 삭제</i></button>
                                        </div>
                                        <span class="btn_wrap type03">
                                            <a name="Upload" href="#none" class="btn type03 w74">파일찾기</a>
                                            <input type="file" id="formFileCollection" name="formFileCollection" @*accept="file_extension|audio/*|video/*|image/*|media_type"*@>
                                        </span>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th class="vt">문의 내용</th>
                            <td>
                                <div class="text_area_wrap">
                                    <textarea name="Content" id="Content" cols="30" rows="10">@Content</textarea>
                                </div>                          
                                <div class="btn_wrap bottom type01">
                                    <a href="javascript:;" class="btn type03">문의하기</a>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <!-- 주문번호 조회 팝업-->
                    <div class="pop_wrap on_search">
                        <div class="layer_pop">
                            <h3 class="tl">주문번호 조회</h3>
                            <div class="table_wrap">
                                <table class="list">
                                    <caption>주문번호 조회</caption>
                                    <colgroup>
                                        <col style="width:25%">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th class="tr">주문번호</th>
                                            <th>주문상품</th>
                                            <th>주문일시</th>
                                            <th>결제금액</th>
                                        </tr>
                                    </thead>
                                    <tbody>                              
                                    </tbody>
                                </table>
                            </div>
                            <div class="btn_wrap pop_bottom type02">
                                <a href="javascript:;" class="btn type03_1" onclick="popClose()">취소</a>
                                <a href="javascript:;" class="btn type03">선택하기</a>
                            </div>
                        </div>
                        <div class="pop_mask"></div>
                    </div>
                    <!-- //주문번호 조회 팝업-->
                </div>
                <!-- //1:1 문의 작성하기 -->
            }
        </div>
        <!-- //우측 컨텐츠 영역 -->
    </div>
</section>
<!-- //sub contents -->
<script type="text/javascript">

    //문의유형 선택
    $('.consult_select').on('change', function() {
	
        if( $('.consult_select01').find("option[value='none']").prop('selected') == true ){
            $('.consult_select02').hide();
            $(".consult_select02 option[value='none']").attr('selected','selected');
        } else{ 

            $('.consult_select02').css('display','inline-block');
        }
    });

    $("#Order_Chk").on('click', function () {
        if ($(this).prop('checked')) {
            $("#Order_Code, #ORDER_ID").val("");
        }
    });


    //파일 업로드
    var fileTarget = $('[name=formFileCollection]');

    $(".upfile_box_list li").each(function(){
        var idx = $(this).index()+1;

        $(this).find(fileTarget).on('change', function(){
            var filename = "";

            if (window.FileReader) {  // modern browser
                filename = $(this)[0].files[0].name;
                imgObj = $(this)[0].files[0];
            } else {  // old IE
                filename = $(this).val().split('/').pop().split('\\').pop();  // 파일명만 추출
                imgObj = $(this);
            }

            var fileSize = $(this)[0].files[0];
            var sizeInMb = fileSize.size / 1024;
            var sizeLimit = 1024 * 10;

            $('[name=UPFILE_'+idx+']').val(filename);
            fileValue(idx);

        });

    });

    // a 태그를 선택시 파일 컨트롤 click이벤트를 호출
    $(document).on("click", "[name=Upload]", function () {
        event.preventDefault();
        //if ($(this).attr("id") == "Image_TempUrl_Pc_1")
        //var index = $(this).attr("id").split("_")[3];

        $(this).next("input").click();

        // $(this).closest("td").find("input[type=file]").click();
    });

    $(".ask_reg  .bottom").on("click", function () {

        
        if ($("#q_category1").val() == "none") {
            alert("문의유형을 선택하세요."); 
            $("#q_category1").focus();
            return;
        }

        if ($("#Q_KIND").val() == "none") {
            alert("문의유형을 선택하세요."); 
            $("#Q_KIND").focus();
            return;
        }

        if (isEmpty($("[name=Title]").val())) {
            alert("제목을 입력하세요.");
            $("#Title").focus();
            return;
        }
    
        if ($("input:checkbox[id=Order_Chk]").is(":checked") == false && isEmpty($("[name=Order_Code]").val()) && $("[name=ORDER_ID]").val() == "0") {
            alert("주문번호를 검색해주세요");
            $("#Order_Code").focus();
            return;
        }
        if (isEmpty($("[name=Content]").val())) {
            alert("문의내용을 입력하세요.");
            $("#Content").focus();
            return;
        }

        //버블링 관련
        $(this).hide();

        $("#Save").submit();
    });

    function Order_Search_pop(popNum) {

        //if (isEmpty($("#Order_Code").val())) {
        //    alert("주문번호를 입력해주세요")
        //    return;
        //}

        $.ajax({
            type: "POST",
            url: "/Customer/Order_List/" + $("#Order_Code").val(),
            dataType: "json",
            async: false,
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {

                var ReturnStr = "";
                //  var aa = "1000";
                //aa = aa.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                //alert(aa);
                console.log(result.order_list);

                $(result.order_list).each(function (index, list) {

                    var Price = list.Order_Price;//"3000";
                    //alert(Price)
                    //alert(Price.replace(/\B(?=(\d{3})+(?!\d))/g, ","))
                    //Order_Price = Price.replace(/\B(?=(\d{3})+(?!\d))/g, ",");

                    // alert(list.Order_Id )


                    ReturnStr += "<tr id=\"" + list.Order_Id + "\">";
                    ReturnStr += "  <td class=\"tr\">";
                    ReturnStr += "      <div class=\"radio_box\">";
                    ReturnStr += "          <input type=\"radio\" id=\"radio_" + list.Order_Id + "\" name=\"radio\" value=\"" + list.Order_Code + "^" + list.Order_Id + "\">";
                    ReturnStr += "          <label for=\"radio_" + list.Order_Id + "\">" + list.Order_Code + "</label>";
                    ReturnStr += "      </div>";
                    ReturnStr += "  </td>";
                    ReturnStr += "  <td>" + list.Product_Code + "/" + list.Product_Name + "</td>";
                    ReturnStr += "  <td>" + list.Regist_Datetime + "</td>";
                    ReturnStr += "  <td>" + Price + "원</td>";
                    /* ReturnStr += "  <td>" + addComma(Order_Price) + "원</td>";*/

                    ReturnStr += "</tr>";

                });
                if (result.order_list.length == 0) {
                    ReturnStr = "<tr><td class=\tr\" colspan=4>주문리스트가 없습니다</td></tr>";
                }

                $("table.list tbody").html(ReturnStr);

            }
        });



        var $popWrap = $('.pop_wrap').eq(popNum);
        $popWrap.show();
    }

    // 주문팝업에서 클릭
    $(".pop_wrap .btn_wrap a").eq(1).click(function () {

        if ($(':radio[name="radio"]:checked').length < 1) {
            alert('주문번호를 선택해주세요!');
            event.preventDefault();
            return;

        }

        var Order_Code = $("[name=radio]:checked").val();

        $("#Order_Code").val(Order_Code.split("^")[0]);
        $("#ORDER_ID").val(Order_Code.split("^")[1]);
        popClose();


    });

    //파일 삭제
    function fileDelete(deleteName) {

        $('.'+deleteName).next('.upfile_delete').hide();
        $('.'+deleteName).val('');

    }

    //파일 유무
    function fileValue(num){
        var fileVal = $('.UPFILE_'+num).val();

        if( fileVal == "" ){
            $('.UPFILE_'+num).next('.upfile_delete').hide();
        } else {
            $('.UPFILE_'+num).next('.upfile_delete').show();
        }
    }


    $("#Order_Chk").on('click', function () {
        if ($(this).prop('checked')) {
            $("#Order_Code").val("").attr("disabled", true);
            $("#Order_Id").val("");
            $('.btn_wrap a:eq(0)').attr("onclick", "return");

        }
        else {
            $("#Order_Code").attr("disabled", false);
            $('.btn_wrap a:eq(0)').attr("onclick", "Order_Search_pop(0)");
        }
    });

    $(document).ready(function () {
        fileValue(1);
        fileValue(2);
    });
    

</script>